<div class="inicio-container">
    <h1>FAKE READER</h1>
    
    <p class="descripcion">
      Fake Reader es una app que identifica noticias falsas usando Machine Learning.
      Nuestra herramienta nace para combatir la desinformación que afecta la gobernabilidad,
      la seguridad global y la confianza pública. Entrenada con datos reales de medios
      digitales, nuestra app te ayuda a distinguir lo verdadero de lo falso en segundos.
    </p>
  
    <p>¿Quién eres?</p>
  
    <div class="botones-rol">
      <button routerLink="/usuario">USUARIO</button>
      <button routerLink="/experto">EXPERTO</button>
    </div>
  </div>
  